body {
  /* background-color: transparent; */
  overflow-x: hidden;
  font-family: 'ArialRounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* scrollar design 
 /* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(168, 165, 165);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #afaeae;
}

/* .main{
   padding-left: 25%;
   padding-right: 25%;
   height: 100vh;
   width: 100vw;
 } */
/*Heder component css start here*/
.header {
  width: auto;
  height: auto;
  padding: 10px 0px;
  border-bottom: 1px solid;
}

.header-text {
  margin-left: 8px;
  user-select: none;
  display: inline-block;
  color: white;
  /*    margin: 0px;*/
  padding: 10px 0px;
  font-size: 20px;
}

.header-button {
  float: right;
  padding: 10px;

}

@media(max-width:1000px) {
  .header_btn {
    display: none;
  }
}

.header-button button {
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  background: none rgba(255, 255, 255, 0.2);
  box-shadow: none;
  margin-left: 0px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 500;
  padding: 5px;
  width: 80px;
  border: none;
  color: white !important;
}

@media(max-width:1000px) {
  .header-button button {
    width: 30px;
    height: 30px;
  }
}

/*Home component css start here*/
.home_component {
  margin-top: 40px;
}

.first_row {
  margin-left: 10%;
  margin-right: 10%;
}

.second_row {
  margin: 7px;
  position: relative;
  height: 300px;
  border-radius: 8px;
  background-color: #ffffff24;
}

@media(min-width:900px) {
  .second_row {
    width: 100%;
  }
}

@media(max-width:375px) {
  .number_input {
    width: 100%;
  }
}

@media(min-width:900px) {
  .main {
    padding-left: 26%;
    padding-right: 25%;

  }
}

.second_row #pomodoro {
  border: none;
  margin: 0px;
  border-radius: 4px;
  font-size: 16px;
  padding: 2px 12px;
  height: 28px;
  cursor: pointer;
  background: none;
  box-shadow: none;
  color: white;
  opacity: 1;
  font-weight: bold;
}

@media(max-width:1000px) {
  .second_row #pomodoro {
    font-size: 12px;
  }
}

.second_row #shortBreack {
  border: none;
  color: white;
  margin: 0px;
  border-radius: 4px;
  font-size: 16px;
  padding: 2px 12px;
  height: 28px;
  cursor: pointer;
  background: none;
  box-shadow: none;

  font-weight: bold;
}

@media(max-width:900px) {
  .second_row #shortBreack {
    font-size: 12px;
  }
}

.second_row #longBreack {
  border: none;
  color: white;
  margin: 0px;
  border-radius: 4px;
  font-size: 16px;
  padding: 2px 12px;
  height: 28px;
  cursor: pointer;
  background: none;
  box-shadow: none;
  font-weight: bold;
}

@media(max-width:900px) {
  .second_row #longBreack {
    font-size: 12px;
  }
}

.button_col {
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

/*Timer component css start here*/
.stopwatch-time {
  text-align: center;
  color: #fff;
  font-size: 100px;
}

.startBut {
  cursor: pointer;
  border: none;
  margin: 20px 0px 0px;
  padding: 0px 12px;
  border-radius: 4px;
  box-shadow: rgb(235, 235, 235) 0px 6px 0px;
  font-size: 22px;
  height: 55px;
  color: rgb(186, 73, 73);
  font-weight: bold;
  width: 200px;
  background-color: white;
  transition: color 0.5s ease-in-out 0s;
}

.taskName {
  font-size: 20px;
  color: white;
  font-weight: 400;
}

/*Task component ends here*/
.task_header {
  color: white;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.dots_menu {
  float: right;
  cursor: pointer;
  user-select: none;
}

.task_button {
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.8;
  color: white;
  margin-top: 12px;
  border: 2px dashed rgba(255, 255, 255, 0.4);
}

.task_add_box {
  padding: 10px 20px 0px;
  height: 280px;
  background-color: white;
  margin: 20px 0px 20px 0px;
  border-radius: 10px;
}

.task_add_box .task_name_input {
  border-radius: 4px;
  font-size: 22px;
  padding: 10px 0px;
  box-shadow: none;
  border: none;
  width: 100%;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  font-weight: 500;
}

.task_add_box input:active {
  border: none;
}

.task_add_box span {
  margin-top: 30px;
  color: rgb(85, 85, 85);
  font-weight: bold;
}

.number_input {
  border-radius: 4px;
  background-color: rgb(239, 239, 239);
  font-size: 16px;
  padding: 10px;
  box-shadow: none;
  border: none;
  width: 100%;
  color: rgb(85, 85, 85);
  box-sizing: border-box;
  font-weight: bold;
  margin-top: 10px;
}

FaCheckCircle {
  border: 1px solid blue;
}

.btn_div {
  margin-top: 30%;
  float: right;
  background-color: rgb(239, 239, 239);
}

.cancel_btn {
  text-align: center;
  border-radius: 7px;
  cursor: pointer;
  opacity: 0.9;
  font-size: 14px;
  padding: 8px 8px;
  min-width: 70px;
  display: inline-block;
  margin-right: 14px;
  background: none;
  border: none;
  color: rgb(136, 136, 136);
  font-weight: bold;
  box-shadow: none;
}

.save_btn {
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  color: white;
  opacity: 0.9;
  font-size: 14px;
  padding: 8px 12px;
  min-width: 70px;
  background-color: rgb(34, 34, 34);
  border: 2px solid rgb(34, 34, 34);
  display: inline-block;
}

.task_preview {
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #cac6c6;
  padding: 10px;
  font-size: large;
  margin-top: 2%;
  border-radius: 5px;
  font-weight: 400;
  text-transform: capitalize;
  border-left: 5px solid black;
}

.task_preview .delete_task {
  float: right;
  justify-content: end;
  cursor: pointer;
}

#taskName {
  width: 100%;
}

.task_date {
  font-size: x-small;
}

.checkTask {
  margin-right: 2%;
  color: grey;
}

/* Stting div css start here */
.setting_div {
  width: 80%;
  height: 380px;
  background-color: rgba(255, 255, 255, 0.76);
  margin-top: 2%;
  padding: 5%;
  margin-left: 10%;
  border-radius: 3%;
}

.timeName {
  display: inline-block;
}

.time_input_div {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 10px;
}

@media screen {}

.input_div {
  width: 98px;
}

.lable_name {
  display: block;
  font-size: 14px;
  color: rgb(140, 135, 135);
  font-weight: bold;
  margin-bottom: 4px;
}

.number_input {
  border-radius: 4px;
  background-color: rgb(239, 239, 239);
  font-size: 16px;
  padding: 10px;
  box-shadow: none;
  border: none;
  color: rgb(172, 169, 169);
  width: 100%;
  box-sizing: border-box;
}

.setting_done_btn {
  padding: 14px 20px;
  text-align: right;
  margin-top: 25%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.done_btn {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgba(206, 201, 201, 0.2) 0px 2px 2px;
  color: white;
  opacity: 0.9;
  font-size: 14px;
  padding: 8px 12px;
  min-width: 70px;
  background-color: rgb(34, 34, 34);
  border: 2px solid rgb(34, 34, 34);
  display: inline-block;
}

.reset_btn {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgba(243, 221, 221, 0.2) 0px 2px 2px;
  color: white;
  opacity: 0.9;
  font-size: 14px;
  margin-right: 3%;
  padding: 8px 12px;
  min-width: 70px;
  background-color: rgb(121, 118, 118);
  border: 2px solid rgb(148, 145, 145);
  display: inline-block;
}

.check_task {
  margin-right: 2%;
  cursor: pointer;
}

.icons li {
  background: none repeat scroll 0 0 #fff;
  height: 7px;
  width: 7px;
  line-height: 0;
  list-style: none outside none;
  margin-right: 15px;
  margin-top: 3px;
  vertical-align: top;
  border-radius: 50%;
  pointer-events: none;
}

.btn-right {
  right: 0.2em;
}

.btn-left,
.btn-right {
  position: absolute;
  top: 0.24em;
}

.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  display: inline;
  float: right;
}

.dropdown-content {
  border-radius: 4px;
  opacity: 1;
  padding: 4px 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
  display: block;
  pointer-events: auto;
  position: absolute;
  margin-top: 2em;
  background-color: white;
  transform: translateY(10px);
  width: 150px;
  right: 0px;
  z-index: 1;
}

.clear_btn {
  border: none;
  outline: none;
  font-size: smaller;
  width: 150px;
  background-color: transparent;
  padding: 5%;
}